* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  color: #06a11b;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5%;
  background: rgb(34, 31, 31);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #32a32e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #90b312;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0078ff, #a71f4c);
  color: white;
  text-align: center;
  padding: 0 10%;
}

.hero-content h1 {
  font-size: 2.8rem;
}

.hero-content .highlight {
  color: #fff68f;
}

.hero-content p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn {
  background: white;
  color: #0078ff;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0078ff;
  color: white;
}

/* About */
.about, .projects, .contact {
  padding: 5rem 10%;
  text-align: center;
}

.about p {
  max-width: 600px;
  margin: 1rem auto;
  color: #555;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Contact */
form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}